body {
  --neon-orange: #FF9548;
  --neon-purple: #D341E8;
  --neon-blue: #3BA9FF;
  --neon-green: #4AE841;
  --neon-yellow: #FFD86C;
}

progress[value] {
  appearance: none;
  border: none;
}

.average::-moz-progress-bar {
  background-color: var(--neon-orange);
}

.exceptional::-moz-progress-bar {
  background-color: var(--neon-green);
}

.mediocre::-moz-progress-bar {
  background-color: var(--neon-purple);
}