.App-header {
  background-color: #282c34;
  color: white;
  padding: 0.5em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
}

.App-header img {
  width: 128px;
  height: 128px;
  margin-right: 28px;
}

.App-header h1 {
  display: inline-block;
}

.App-link {
  color: #61dafb;
}
